sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: true
node_js:
  - '8'
  - '6'
before_script:
  - npm prune
script:
  - npm test
  - npm run e2e
  # - $(npm bin)/stop-build
after_success:
  - npm run semantic-release
  - npm run coveralls
branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
